.righthigh{
    /* left: auto;background-color: blue; */
    height: 35px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    color: black;
}

a.r:link,a.r:visited{color: black;color: black;}
a.r:hover{color: blue;}
a.r{
    text-decoration: none;
}

input[type=text] {
    width: 520px;
    padding: 10px 20px;
    font-size: 20px;
    box-sizing: border-box;
    border: 2px solid black;
    outline: none;
    display: inline;
}
input[type=text]:focus {
    border: 2px solid blue;
}

input[type=button]{
    float: right;
    width: 130px;
    height: 46.5px;
    border: 2px black;
    color: white;
    font-size: 20px;
    background-color: rgb(60, 75, 215);
}
input[type=button]:hover{background-color: rgb(60, 35, 215);}